//hacer navbar como fragmento
body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgb(249, 249, 249);
    color: rgb(15, 15, 15);
}

div {
    display: flex;
    flex-direction: column;
}

input {
    height: 1.5rem;
    margin: .5rem 0;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 0 5px;
}

button {
    cursor: pointer;
    padding: .5rem 1rem;
    background-color: rgb(240, 122, 48);
    border: none;
    border-radius: 3px;

    &:hover {
        color: white;
        background-color: rgb(162, 78, 26);
    }
}