.listCont {
    margin: 3% auto;
    text-align: center;
    .tableCont{
        width: 95%;
        margin: 2rem auto;
    }
    .filter-container{
        display: flex;
        flex-direction:row ;
    }
    .col-sm-5,.col-sm-4{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    select{
        width: fit-content;
        cursor: pointer;
    }
    table {
        overflow-x: auto;
        margin: 0 auto 1rem;
        width: 100%;
        max-width: 100vw;
        th {
            text-align: center;
            background-color: var(--naranja);
            border: none;
            padding: .5rem;
            border-radius: 3px;
        }
        td {
            align-items: center;
            padding: .5rem;
        }
        tr:nth-child(even) {
            background-color: rgba(34, 34, 34, 0.201);
        }
    }
    li{
        margin-left: .5rem;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
            color: var(--rojo);
        }
    }
    .fa{
        margin: 0 .3rem ;
        cursor: pointer;
    }
}